lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.sublime-project
*.sublime-workspace

# Jet Brains IDE
.idea/
*.iml

pids
logs
results

npm-debug.log
node_modules

organiq.sln
organiq.njsproj
organiq.v12.suo
.organiqcredentials
